/Building.txt
/FadeOne_msx.png
/P61-2x2.png
/P61-4x4.png
/P61-4x4even.png
/P61-4x4odd.png
/P61-4x4spotty.png
/P61-8x8.png
/P61-cluster.png
/P61-fs.png
/P61-none.png
/P61-yliluoma.png
/__pycache__
/algorithm.md
/baboon.prg
/build
/burger.art
/burger.sc2
/burger.scr
/capu.prg
/capu_p4.art
/capu_p4.prg
/clip2.art
/colodore_ted.act
/colodore_ted.png
/compile.py
/dist
/earth.png
/falls_p4.prg
/fli-picture [a]!.prg
/g.test1.prg
/gfxcvt.spec
/gfxcvt2.py
/icon.gif
/icon.ico
/indev_bw.sc2
/indev_bw1.sc2
/krusty.koa
/krusty.sc2
/m1_p4.prg
/macaw-afli.png
/macaw-msxu.png
/macaw-multi.png
/macaw-sc2.png
/macaw.afl
/macaw.him
/macaw.png
/macaw_c64u.png
/macaw_sp.png
/macaw_spu.png
/madness.png
/melee_1.png
/melee_2.png
/melee_3.bin
/melee_3.png
/misato_bad.art
/misato_test.art
/misato_test1.png
/misato_test2.png
/misato_test3.png
/misato_test4.png
/misato_test_msx1.png
/mode2.txt
/modules
/mononoke.prg
/motoko.prg
/motoko1.koa
/motoko1.prg
/msx.hex
/msx_1.png
/msx_1.sc2
/msx_1.txt
/msx_2.sc2
/msxdsk.dsk
/msxtest1.sc2
/msxtest1_.sc2
/msxtest2.sc2
/p4.txt
/p4_bott1.art
/p4_bott2.art
/p4bot1.art
/p4hit1.prg
/p4multi.art
/p4multi.png
/p4multi2.png
/p4multi2cs.art
/p4multi2cs.png
/p4multi_cs.art
/p4multics.png
/p4multit1.prg
/p4multit2.prg
/p4test1.prg
/p4test1_e.prg
/pierre.koa
/planes.koa
/plus4_colodorel.png
/plus4_internal.png
/plus4_internal2.png
/plus4_yape_ntsc.png
/plus4_yape_pal.png
/requirements.txt.
/ringo_t1.png
/ringo_t2.png
/ringo_t3.png
/ringo_t4.png
/saint-pbyn.png
/saint-purp.png
/saint-yel.png
/saint_full.png
/snake.prg
/snek_p4.art
/splash.png
/splash_.png
/splash_.xcf
/splashhires.art
/splashhires_r.art
/splashmulti.koa
/splashmulti_r.koa
/test-afli.prg
/test.prg
/test1-hi.art
/test1-msx.sc2
/test1-multi.koa
/test1.art
/test_images
/venus-p4.prg
/venus_p4.png
/venv
/worf.koa
/zx_1.png
/zxtest.scr